pat-workflow-.json
{"updatedAt":"2025-11-12T10:17:41.000Z","createdAt":"2025-11-11T11:44:16.665Z","id":"T4PYsvk3bzot8ywO","name":"Pat workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"bd615c0c-df98-4ecb-a8f2-38b49c04adc3","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"Thanawat2002","mode":"list","cachedResultName":"Thanawat2002","cachedResultUrl":"https://github.com/Thanawat2002"},"repository":{"__rl":true,"value":"n8n-demo","mode":"list","cachedResultName":"n8n-demo","cachedResultUrl":"https://github.com/Thanawat2002/n8n-demo"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[160,0],"id":"583970b5-bfd3-442d-ae85-61d8dded0803","name":"List files","webhookId":"b62efff0-9618-41f5-a441-be11b62ecd03","credentials":{"githubApi":{"id":"oMfG2alEIpaDVXcF","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[320,0],"id":"06660dc3-7e50-4df4-b7b1-715472fa6096","name":"Aggregate"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[640,0],"id":"a833edbd-4abb-4749-89d1-00b148a21583","name":"Json file"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,0],"id":"b613f5ad-7db4-44f7-a63b-02383f297f8f","name":"To base64"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[480,192],"id":"a0b9619d-cf17-4258-912c-fff09560e2c2","name":"Retrieve workflows","credentials":{"n8nApi":{"id":"2JkLNTRjf0WKv8Of","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30414182-b421-4768-b38b-d60080c9f6d0","leftValue":"={{ $('Aggregate').item.json.name }}","rightValue":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,0],"id":"458266cf-e957-4479-91eb-10be2bee7a92","name":"If"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"Thanawat2002","mode":"list","cachedResultName":"Thanawat2002","cachedResultUrl":"https://github.com/Thanawat2002"},"repository":{"__rl":true,"value":"n8n-demo","mode":"list","cachedResultName":"n8n-demo","cachedResultUrl":"https://github.com/Thanawat2002/n8n-demo"},"filePath":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json","fileContent":"={{ $('To base64').item.json.data }}","commitMessage":"=backup-{{ $('Commit date & file name').item.json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1360,128],"id":"8261fda2-0e8e-4b8c-b260-108a9280007b","name":"Create a file","webhookId":"063bc78d-40ec-4b4b-b2db-1ece96b4d008","credentials":{"githubApi":{"id":"oMfG2alEIpaDVXcF","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a2c9084f-97e1-4de4-92e7-0734ddd94c13","name":"=commitDate","value":"={{ $now.format('dd-MM-yyyy/H:mm') }}","type":"string"},{"id":"254f3e0f-82dd-42f1-9daf-7d98ca24011e","name":"fileName","value":"={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,0],"id":"f73a5ee9-d6b6-417c-91a8-05856889c828","name":"Commit date & file name"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Retrieve workflows","type":"main","index":0}]]},"Json file":{"main":[[{"node":"To base64","type":"main","index":0}]]},"To base64":{"main":[[{"node":"Commit date & file name","type":"main","index":0}]]},"Retrieve workflows":{"main":[[]]},"If":{"main":[[],[{"node":"Create a file","type":"main","index":0}]]},"Commit date & file name":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Github Trigger":{},"node:PR Tigger":{},"node:PR Trigger":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e71fe1d1-efc2-46a0-bef2-509d2f5cdbfb","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T11:44:16.668Z","createdAt":"2025-11-11T11:44:16.668Z","role":"workflow:owner","workflowId":"T4PYsvk3bzot8ywO","projectId":"5FJYOc8CJmYptzFB"}],"tags":[]}